html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  width: 90%;
  height: 90%;
  border: 1px solid red;
}

.container {
  width: 90%;
  height: 90%;
  border: 1px solid green;
}

.chart {
  border: 1px solid blue;
}

.parent-Group {
  border: 1px solid black;
}

g, text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
