/* The code below is for the chart demo. This code will differ based
on implementation. */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  width: 90%;
  height: 90%;
  border: 1px solid red;
}

/* The code below is the important styling for the chart.
A parent .chart-container is needed for the chart. However the dimension
values of the parent will differ based on where the chart is placed inside
the HTML file. */

.chart-container {
  width: 90%;
  height: 90%;
  border: 1px solid green;
}

.chart {
  border: 1px solid blue;
}

.parent-Group {
  border: 1px solid black;
}

g, text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
